<html>
    <link rel="stylesheet" href="../css/indexmenu.css">
    
    <head>
        <title>SisEventos</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <nav class="menu">
            <ul>
                <li><a href="indexmenu.html">Home</a></li>
                <li><a href="#">Eventos</a>
                    <ul>
                        <li><a href="Eventos/Forminfo.php">Cadastrar</a></li>
                        <li><a href="Eventos/Consultarinfo.php">Consultar</a>
                    </ul>
                </li>
                <li><a href="#">Cidades</a>
                <ul>
                    <li><a href="Cidades/FormCidade.php">Cadastrar</a></li>
                    <li><a href="Cidades/Consultarcidade.php">Consultar</a>
                    </ul>
                </li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </body>
</html>