nav.menu {
    display: flex;
    justify-content: center;
    background-color: #222;
  }
  
  nav.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav.menu li {
    list-style: none;
  }
  
  nav.menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  
  nav.menu a:hover {
    background-color: #555;
  }
  